### 英伦航空公司

In [22]:
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
from stocker import Stocker

In [24]:
britishmidland = Stocker('BMI')

BMI Stocker Initialized. Data covers 1984-09-07 00:00:00 to 2018-03-27 00:00:00.

In [25]:
stock_history = britishmidland.stock
stock_history.head()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,ds,y,Daily Change
0,1984-09-07,8.63,9.00,8.63,8.75,9100.0,0.0,1.0,0.267890,0.279375,0.267890,0.271615,145600.0,1984-09-07,0.271615,0.003725
1,1984-09-10,8.75,8.75,8.75,8.75,0.0,0.0,1.0,0.271615,0.271615,0.271615,0.271615,0.0,1984-09-10,0.271615,0.000000
2,1984-09-11,8.88,8.88,8.88,8.88,100.0,0.0,1.0,0.275650,0.275650,0.275650,0.275650,1600.0,1984-09-11,0.275650,0.000000
3,1984-09-12,8.88,8.88,8.75,8.75,1600.0,0.0,1.0,0.275650,0.275650,0.271615,0.271615,25600.0,1984-09-12,0.271615,-0.004035
4,1984-09-13,8.75,8.75,8.75,8.75,0.0,0.0,1.0,0.271615,0.271615,0.271615,0.271615,0.0,1984-09-13,0.271615,0.000000

In [26]:
f = open('bmi1.txt','w')
f.write(str(stock_history.head()))
f.close()

In [27]:
britishmidland.plot_stock()

(['Adj. Close'],
 51.6,
 Timestamp('2017-10-12 00:00:00'),
 0.26012939967059,
 Timestamp('1984-12-11 00:00:00'),
 46.1,
 Timestamp('2018-03-27 00:00:00'))

In [28]:
f = open('bmi2.txt','w')
f.write(str(britishmidland.plot_stock()))
f.close()

In [10]:
britishmidland.plot_stock(start_date = '2000-01-03', end_date = '2018-01-16', 
                     stats = ['Daily Change'], plot_type='pct')

(['Daily Change'],
 3.4762929939819998,
 Timestamp('2007-08-16 00:00:00'),
 -2.809054606928999,
 Timestamp('2008-10-16 00:00:00'),
 -0.7999999999999972,
 Timestamp('2018-03-27 00:00:00'))

In [29]:
f = open('bmi3.txt','w')
f.write(str(britishmidland.plot_stock(start_date = '2000-01-03', end_date = '2018-01-16', 
                     stats = ['Daily Change'], plot_type='pct')))
f.close()

In [30]:
britishmidland.plot_stock(start_date = '2000-01-03', end_date = '2018-01-16', 
                     stats = ['Adj. Volume'], plot_type='pct')

(['Adj. Volume'],
 3819600.0,
 Timestamp('2009-06-23 00:00:00'),
 0.0,
 Timestamp('2000-01-26 00:00:00'),
 102292.0,
 Timestamp('2018-03-27 00:00:00'))

In [31]:
f = open('bmi4.txt','w')
f.write(str(britishmidland.plot_stock(start_date = '2000-01-03', end_date = '2018-01-16', 
                     stats = ['Adj. Volume'], plot_type='pct')))
f.close()

In [32]:
britishmidland.buy_and_hold(start_date='1986-03-13', end_date='2018-01-16', nshares=100)

('BMI',
 Timestamp('1986-03-13 00:00:00'),
 Timestamp('2018-01-16 00:00:00'),
 100,
 4880.705789179369)

In [33]:
f = open('bmi5.txt','w')
f.write(str(britishmidland.buy_and_hold(start_date='1986-03-13', end_date='2018-01-16', nshares=100)))
f.close()

In [34]:
britishmidland.buy_and_hold(start_date='1999-01-05', end_date='2002-01-03', nshares=100)

('BMI',
 Timestamp('1999-01-05 00:00:00'),
 Timestamp('2002-01-03 00:00:00'),
 100,
 -98.25278265136998)

In [35]:
f = open('bmi6.txt','w')
f.write(str(britishmidland.buy_and_hold(start_date='1999-01-05', end_date='2002-01-03', nshares=100)))
f.close()

In [18]:
britishmidland.changepoint_date_analysis()

D:\Downloads\Anaconda\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

          Date  Adj. Close     delta
193 2016-01-04   27.826092  1.219656
602 2017-08-17   43.872832 -1.172889
385 2016-10-06   33.303523  1.087876
289 2016-05-20   35.416948 -0.854542
530 2017-05-05   38.325861  0.737674

In [19]:
f = open('bmi7.txt','w')
f.write(str(britishmidland.changepoint_date_analysis()))
f.close()

D:\Downloads\Anaconda\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

In [20]:
model, future = britishmidland.create_prophet_model(days=30)

D:\Downloads\Anaconda\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

In [21]:
f = open('bmi8.txt','w')
f.write(str(britishmidland.create_prophet_model(days=30)))
f.close()

D:\Downloads\Anaconda\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):