### 中国与全球化智库

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from stocker import Stocker

In [4]:
centerChinaGlobalization = Stocker('CCG')

CCG Stocker Initialized. Data covers 2010-10-14 00:00:00 to 2016-03-02 00:00:00.

In [5]:
stock_history = centerChinaGlobalization.stock
stock_history.head()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,ds,y,Daily Change
0,2010-10-14,12.50,12.64,12.480,12.51,8250100.0,0.0,1.0,9.677405,9.785792,9.661921,9.685147,8250100.0,2010-10-14,9.685147,0.007742
1,2010-10-15,12.56,12.85,12.500,12.58,2384900.0,0.0,1.0,9.723856,9.948372,9.677405,9.739340,2384900.0,2010-10-15,9.739340,0.015484
2,2010-10-18,12.64,12.77,12.520,12.70,407600.0,0.0,1.0,9.785792,9.886437,9.692888,9.832243,407600.0,2010-10-18,9.832243,0.046452
3,2010-10-19,12.70,12.70,12.500,12.53,575900.0,0.0,1.0,9.832243,9.832243,9.677405,9.700630,575900.0,2010-10-19,9.700630,-0.131613
4,2010-10-20,12.55,12.80,12.495,12.64,1259400.0,0.0,1.0,9.716114,9.909662,9.673534,9.785792,1259400.0,2010-10-20,9.785792,0.069677

In [6]:
f = open('ccg1.txt','w')
f.write(str(stock_history.head()))
f.close()

In [7]:
centerChinaGlobalization.plot_stock()

(['Adj. Close'],
 12.66954696477888,
 Timestamp('2013-04-08 00:00:00'),
 4.77,
 Timestamp('2015-09-10 00:00:00'),
 7.0,
 Timestamp('2016-03-02 00:00:00'))

In [8]:
f = open('ccg2.txt','w')
f.write(str(centerChinaGlobalization.plot_stock()))
f.close()

In [9]:
centerChinaGlobalization.plot_stock(start_date = '2011-01-03', end_date = '2016-01-16', 
                     stats = ['Daily Change'], plot_type='pct')

(['Daily Change'],
 1.2445714285714278,
 Timestamp('2014-11-04 00:00:00'),
 -0.6186034127506321,
 Timestamp('2011-10-05 00:00:00'),
 0.0,
 Timestamp('2016-03-02 00:00:00'))

In [11]:
f = open('ccg3.txt','w')
f.write(str(centerChinaGlobalization.plot_stock(start_date = '2011-01-01', end_date = '2016-01-16', 
                     stats = ['Daily Change'], plot_type='pct')))
f.close()

In [12]:
centerChinaGlobalization.plot_stock(start_date = '2011-01-03', end_date = '2016-01-16', 
                     stats = ['Adj. Volume'], plot_type='pct')

(['Adj. Volume'],
 10957600.0,
 Timestamp('2013-03-01 00:00:00'),
 44800.0,
 Timestamp('2011-09-26 00:00:00'),
 815848.0,
 Timestamp('2016-03-02 00:00:00'))

In [13]:
f = open('ccg4.txt','w')
f.write(str(centerChinaGlobalization.plot_stock(start_date = '2011-01-03', end_date = '2016-01-16', 
                     stats = ['Adj. Volume'], plot_type='pct')))
f.close()

In [102]:
centerChinaGlobalization.buy_and_hold(start_date='2010-10-15', end_date='2013-04-30', nshares=100)

('CCG',
 Timestamp('2010-10-15 00:00:00'),
 Timestamp('2013-04-30 00:00:00'),
 100,
 237.02047111340062)

In [103]:
f = open('ccg5.txt','w')
f.write(str(centerChinaGlobalization.buy_and_hold(start_date='2010-10-15', end_date='2013-04-30', nshares=100)))
f.close()

In [104]:
centerChinaGlobalization.buy_and_hold(start_date='2011-02-10', end_date='2016-03-01', nshares=100)

('CCG',
 Timestamp('2011-02-10 00:00:00'),
 Timestamp('2016-03-01 00:00:00'),
 100,
 -345.79061651474507)

In [105]:
f = open('ccg6.txt','w')
f.write(str(centerChinaGlobalization.buy_and_hold(start_date='2011-02-10', end_date='2016-03-01', nshares=100)))
f.close()

In [106]:
centerChinaGlobalization.changepoint_date_analysis()

D:\Downloads\Anaconda\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

          Date  Adj. Close     delta
507 2015-03-09    7.700000 -1.389158
410 2014-10-16    6.430286  1.292803
338 2014-07-07    8.320805 -1.172987
579 2015-06-19    5.810000  1.060512
265 2014-03-21    8.121064  0.978358

In [107]:
f = open('ccg7.txt','w')
f.write(str(centerChinaGlobalization.changepoint_date_analysis()))
f.close()

D:\Downloads\Anaconda\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

In [108]:
model, future = centerChinaGlobalization.create_prophet_model(days=30)

D:\Downloads\Anaconda\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

In [109]:
f = open('ccg8.txt','w')
f.write(str(centerChinaGlobalization.create_prophet_model(days=30)))
f.close()

D:\Downloads\Anaconda\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):