In [9]:
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
from stocker import Stocker

In [11]:
microsoft = Stocker('MSFT')

MSFT Stocker Initialized. Data covers 1986-03-13 00:00:00 to 2018-03-27 00:00:00.

In [12]:
stock_history = microsoft.stock
stock_history.head()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,ds,y,Daily Change
0,1986-03-13,25.50,29.25,25.5,28.00,3582600.0,0.0,1.0,0.058941,0.067609,0.058941,0.064720,1.031789e+09,1986-03-13,0.064720,0.005779
1,1986-03-14,28.00,29.50,28.0,29.00,1070000.0,0.0,1.0,0.064720,0.068187,0.064720,0.067031,3.081600e+08,1986-03-14,0.067031,0.002311
2,1986-03-17,29.00,29.75,29.0,29.50,462400.0,0.0,1.0,0.067031,0.068765,0.067031,0.068187,1.331712e+08,1986-03-17,0.068187,0.001156
3,1986-03-18,29.50,29.75,28.5,28.75,235300.0,0.0,1.0,0.068187,0.068765,0.065876,0.066454,6.776640e+07,1986-03-18,0.066454,-0.001734
4,1986-03-19,28.75,29.00,28.0,28.25,166300.0,0.0,1.0,0.066454,0.067031,0.064720,0.065298,4.789440e+07,1986-03-19,0.065298,-0.001156

In [13]:
f = open('msft1.txt','w')
f.write(str(stock_history.head()))
f.close()

In [14]:
microsoft.plot_stock()

(['Adj. Close'],
 96.77,
 Timestamp('2018-03-12 00:00:00'),
 0.060097123934714,
 Timestamp('1986-03-24 00:00:00'),
 89.47,
 Timestamp('2018-03-27 00:00:00'))

In [15]:
f = open('msft2.txt','w')
f.write(str(microsoft.plot_stock()))
f.close()

In [16]:
microsoft.plot_stock(start_date = '2000-01-03', end_date = '2018-01-16', 
                     stats = ['Daily Change'], plot_type='pct')

(['Daily Change'],
 2.082220461981997,
 Timestamp('2008-10-13 00:00:00'),
 -3.3400000000000034,
 Timestamp('2017-12-04 00:00:00'),
 -5.469999999999999,
 Timestamp('2018-03-27 00:00:00'))

In [17]:
f = open('msft3.txt','w')
f.write(str(microsoft.plot_stock(start_date = '2000-01-03', end_date = '2018-01-16', 
                     stats = ['Daily Change'], plot_type='pct')))
f.close()

In [18]:
microsoft.plot_stock(start_date = '2000-01-03', end_date = '2018-01-16', 
                     stats = ['Adj. Volume'], plot_type='pct')

(['Adj. Volume'],
 591052200.0,
 Timestamp('2006-04-28 00:00:00'),
 7425503.0,
 Timestamp('2017-11-24 00:00:00'),
 53704562.0,
 Timestamp('2018-03-27 00:00:00'))

In [19]:
f = open('msft4.txt','w')
f.write(str(microsoft.plot_stock(start_date = '2000-01-03', end_date = '2018-01-16', 
                     stats = ['Adj. Volume'], plot_type='pct')))
f.close()

In [20]:
microsoft.buy_and_hold(start_date='1986-03-13', end_date='2018-01-16', nshares=100)

('MSFT',
 Timestamp('1986-03-13 00:00:00'),
 Timestamp('2018-01-16 00:00:00'),
 100,
 8829.10585899871)

In [21]:
f = open('msft5.txt','w')
f.write(str(microsoft.buy_and_hold(start_date='1986-03-13', end_date='2018-01-16', nshares=100)))
f.close()

In [22]:
microsoft.buy_and_hold(start_date='1999-01-05', end_date='2002-01-03', nshares=100)

('MSFT',
 Timestamp('1999-01-05 00:00:00'),
 Timestamp('2002-01-03 00:00:00'),
 100,
 -56.9165992219002)

In [38]:
f = open('msft6.txt','w')
f.write(str(microsoft.buy_and_hold(start_date='1999-01-05', end_date='2002-01-03', nshares=100)))
f.close()

In [39]:
microsoft.changepoint_date_analysis()

D:\Downloads\Anaconda\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

          Date  Adj. Close     delta
361 2016-09-01   55.966886 -1.319902
169 2015-11-27   51.353167 -1.128169
289 2016-05-20   48.886934  0.847661
506 2017-03-31   64.816957  0.580521
120 2015-09-18   41.122995  0.571162

In [40]:
f = open('msft7.txt','w')
f.write(str(microsoft.changepoint_date_analysis()))
f.close()

D:\Downloads\Anaconda\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

In [41]:
model, future = microsoft.create_prophet_model(days=30)

D:\Downloads\Anaconda\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

In [42]:
f = open('msft8.txt','w')
f.write(str(microsoft.create_prophet_model(days=30)))
f.close()

D:\Downloads\Anaconda\lib\site-packages\pystan\misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):